<template>
    <div>
        <single-ad-small :id="ad.slug" v-for="ad in data" :key="ad.id" :ad="ad"></single-ad-small>
    </div>
</template>
<script>
  export default {
    props: ['ads'],
    components: {
      'single-ad-small': require('./SingleAdSmall.vue')
    },
    data: function () {
      return {
        data: JSON.parse(this.ads)
      }
    },
    mounted(){
      const self = this
      Events.$on('filter-changed', function (params) {
        axios.get('/api/sitters', {
          params: {
            filters: JSON.stringify(params)
          }
        }).then(function (response) {
          self.data = response.data;
          Events.$emit('data-updated', self.data);
        })
      })
    }

  }
</script>