<template>
    <div>
        <div class="form-group row" v-if="allanimals">
            <label for="type" class="col-form-label control-label col-sm-3">Vrsta</label>
            <div class="col-sm-9">
                    <div class="form-check">
                        <label class="form-check-label"><input name="animal_type_id" type="radio" value="1" class="form-check-input" @click="change(1)" checked><span class="form-check-label-text">Pas</span></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label"><input name="animal_type_id" type="radio" value="2" class="form-check-input" @click="change(2)"><span class="form-check-label-text">Mačka</span></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label"><input name="animal_type_id" type="radio" value="3" class="form-check-input" @click="change(3)"><span class="form-check-label-text">Ostalo</span></label>
                    </div>

            </div>
        </div>
        <div class="form-group row">
            <label for="breed" class="col-form-label control-label col-sm-3">{{label}}</label>
            <div class="col-sm-9">
                <select name="breed_id[]" id="breed" class="form-control" :multiple="multiple" v-if="multiple">
                    <option v-for="breed in br" :value="breed.id" :selected="(values.indexOf(parseInt(breed.id)) != -1) ? true : false">{{breed.text}}</option>
                </select>
                    <select name="breed_id" id="breed" class="form-control" :multiple="multiple" v-else>
                        <option v-for="breed in br" :value="breed.id"  :selected="(values.indexOf(parseInt(breed.id)) != -1) ? true : false">{{breed.text}}</option>
                    </select>

            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['dogs', 'cats', 'other', 'label', 'multiple', 'allanimals', 'value'],
    data: function () {
      return {
        br: JSON.parse(this.dogs),
        values: JSON.parse(this.value)
      }
    },
    mounted(){
      Events.$on('vue-form.change::type', () => {
        console.log('sad')
      })
      $('#breed').select2();
    },
    methods: {
      change(id){
        var dt;
        switch (id) {
          case 1:
            dt = JSON.parse(this.dogs);
            break;
          case 2:
            dt = JSON.parse(this.cats);
            break;
          case 3:
            dt = JSON.parse(this.other);
            break;
        }
         $('#breed').select2('destroy').empty().select2({data: dt})
      }
    }
  }
</script>