<template>
    <div>
        <button-group v-model="selected" type="app">
            <checkbox :true-value="item.id" v-for="item in data" :key="item.id">
                <i :class="'fa ' + item.icon"></i>
                {{item.title}}
                <div class="no-top-bottom-margin">
                    <small>{{item.weight || item.description}}</small>
                </div>
            </checkbox>
        </button-group>
    </div>
</template>
<script>
  export default {
    props:['dt', 'resource', 'selectedData'],
    components: {
      'button-group' : require('vue-strap').buttonGroup,
      'radio' : require('vue-strap').radio,
      'checkbox' : require('vue-strap').checkbox,
    },
    data: function (){
        return {
          data: JSON.parse(this.dt),
          selected: JSON.parse(this.selectedData)
        }
    },
    watch: {
      selected(val){
        var self = this;
        axios.post('/api/update-app-buttons', {
          value: val,
          resource: self.resource
        })
      }
    }

  }
</script>
<style>

</style>