<template>
    <div :class="name">

        <div class="row">
            <div class="col-md-3 text-right">
                <label :for="name">{{label}}</label>
            </div>
            <div class="col-md-9">
                <div class="form-check">
                    <label class="form-check-label">
                        <input :name="name" type="radio" value="yes" class="form-check-input yes" @click="showMe=true"
                               v-model="checked">
                        <span class="form-check-label-text">Da</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label"><input :name="name" type="radio" value="no" class="form-check-input"
                                                           @click="showMe=false" v-model="checked"><span
                            class="form-check-label-text">Ne</span></label>
                </div>
            </div>
        </div>
        <div class="row" v-if="showMe">
            <div class="col-md-9 col-md-offset-3">
                <display-media :media="media" :media-name="mediaName"></display-media>
                <div class="progress progress-sm active" v-if="showProgress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" :style="{width: uploadedProgress + '%'}">
                        <span class="sr-only">{{uploadedProgress}}% Complete</span>
                    </div>
                </div>
                <div ref="output" class="container"></div>
            </div>
        </div>
        <div class="row bottom-margin-20" v-if="showMe">
            <div class="col-md-9 col-md-offset-3">
                <a @click="open()" class="btn btn-block btn-primary btn-sm addOneMore">Dodaj sertifikat <i
                        class="fa fa-plus"></i></a>
            </div>
        </div>
        <modal ref="theBootstrapModal" :needHeader="true" :needFooter="true">
            <div slot="title">
                Dodaj dokument
            </div>
            <div slot="body" ref="modalform" class="form-group container-fluid modal-form">
                <label for="headline">Naslov dokumenta (u formatu slike) *</label>
                <input type="text" name="headline" class="form-control" v-model="headline">
                <input type="file" id="file" ref="filename" name="certificate_file" accept="image/*">

            </div>
            <div slot="footer">
               <a class="btn btn-primary" @click="ok">Dodaj</a>
            </div>
        </modal>

    </div>
</template>
<script>

  export default {
    components: {
      'modal' : require('vue2-bootstrap-modal'),
      'display-media' : require('./DisplayMedia.vue'),
    },
    props: ['name', 'label', 'input-name', 'file-name', 'value', 'media', 'media-name'],
    data: function () {
      return {
        showMe: false,
        checked: "no",
        modalShow: false,
        headline: "",
        filename: "",
        uploadedProgress: "",
        showProgress: false
      }
    },
    mounted(){
      if (this.value == 'yes') this.showMe = true
      this.checked = this.value;
      console.log(this.value)
    },
    methods: {
      ok(){
        var output = this.$refs.output;
        //var file = document.getElementById('file').files[0];
        if(!this.headline || !this.$refs.filename.files) {
          $(this.$refs.modalform).addClass('has-error')
          return;
        }
        var data = new FormData();
        data.append('headline', this.headline);
        data.append('file', this.$refs.filename.files[0]);
        data.append('media', this.mediaName);
        var that = this;
        var config = {
          onUploadProgress: function(progressEvent) {

            that.uploadedProgress = Math.round( (progressEvent.loaded * 100) / progressEvent.total );

          }
        }
        this.showProgress = true;
        axios.post('/api/upload/certificates', data, config)
            .then(function (res) {
              output.className = 'container';
              output.innerHTML = res.data;
              that.headline = "";
              $(that.$refs.filename).val('');
              $(that.$refs.modalform).removeClass('has-error')
              setTimeout(function (){
                that.showProgress = false;
              }, 1000);
              Events.$emit('certificate-uploaded');
            })
            .catch(function (err) {
              output.className = 'container text-danger';
              output.innerHTML = err.message;
              $(that.$refs.filename).val('');
              $(that.$refs.modalform).removeClass('has-error')
              setTimeout(function (){
                that.showProgress = false;
              }, 1000)
            });
        this.$refs.theBootstrapModal.close();
      },
      cancel(){
        this.$refs.theBootstrapModal.close();
      },
      open(){
        this.$refs.theBootstrapModal.open();
      }
    }
  }
</script>

<style scoped>
    .icon {
        cursor: pointer;
    }
</style>