<template>
    <div class="row">
        <div class="col-md-6" v-for="item in med">
            <div class="info-box bg-red">
                <lightbox :src="item.url"><span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span></lightbox>

                <div class="info-box-content">
                    <span class="info-box-text"><button type="button" class="close" @click="deleteMe(item.id)">×</button>{{item.custom_properties.title}}</span>

                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</template>
<script>
  import VueLightbox from 'vue-lightbox'
  export default {
    props: ['media', 'mediaName'],
    components: {
      'lightbox' : VueLightbox
    },
    mounted(){
      var that = this;
        Events.$on('certificate-uploaded', function(){
          that.refresh();
        })
    },
    data: function (){
        return {
          med: JSON.parse(this.media),
          src: ""
        }
    },
    methods: {
      refresh(){
        var that = this;
        axios.get('/api/get-certificates', {
          params: {
            media: that.mediaName
          }
        }).then(function (res){
          that.med = res.data
        })
      },
      deleteMe(id){
        var that = this;
        axios.post('/api/delete-file', {
          id: id,
          media: that.mediaName
        }).then(function () {
          that.refresh();
        })
      },
    }
  }
</script>

<style scoped>
    .info-box {
        min-height:50px;
    }

    .info-box-icon {
        height: 50px;
        width: 65px;
        text-align: center;
        font-size: 30px;
        line-height: 50px;
        cursor: pointer;
    }

    .info-box-content {
        padding: 5px 10px;
        margin-left: 64px;
    }

    .progress-description, .info-box-text {
        white-space: normal;
    }

</style>