<template>
    <div>
        <div class="row" v-for="item in featuresData">
            <div class="col-xs-3">
                <h5 class="text-right">{{item.title}}</h5>
            </div>
            <div class="col-offset-1 col-xs-8" >
                <switches theme="bootstrap" :color="color" type-bold="true"  text-enabled="DA" text-disabled="NE" v-model="featuresValues[item.id]" :selected="featuresValues[item.id]" :emit-on-mount="false" @input="update(item.id, resource, $event)"></switches>
            </div>
        </div>

    </div>
</template>
<script>
  import Switches from 'vue-switches';
  export default {
    props: ['features', 'color', 'resource', 'featureValues', 'model', 'adId', 'serviceId'],
    components: {
      Switches
    },
    data: function (){
        return {
          enabledFields: [],
          featuresData: JSON.parse(this.features),
          featuresValues: JSON.parse(this.featureValues),
        }
    },
    methods: {
      update(id, resource, value){

        var self = this
        console.log(id)
        axios.post('/api/update-switches', {
          resource: resource,
          id: id,
          value: value,
          model: self.model,
          adId: self.adId,
          serviceId: self.serviceId
        })
      }
    },
    mounted(){

    }
  }
</script>
<style>

</style>