<template>
    <transition
            name="custom-classes-transition"
            enter-active-class="animated tada"
            leave-active-class="animated bounceOut"
    >
        <div class="box" v-if="existing">
            <div class="info-box-content">
                <button type="button" class="close" @click="deleteMe(imageId)">×</button>
                <img width="200" :src="url" class="thumbnail" alt="">
            </div>
        </div>
    </transition>
</template>

<script>
  export default {
    props: ['url', 'imageId'],
    data: function(){
      return {
        existing: true
      }
    },
    methods: {
      deleteMe(id){
        var that = this;
        axios.post('/api/delete-file', {
          id: id
        }).then(function () {
          that.existing = false;
        })
      },
    }
  }
</script>
<style scoped>
.box {
    width: 230px;
    float: left;
    margin: 6px;
}

.box img {
    height: 136px;
}
.info-box-content {
    margin-left: 0;
}
</style>