<template>

    <div class="box box-success animated fadeIn" style="padding: 5px;">
        <div id="map-box">
            <gmap-map ref="mapa"
                      :center="center"
                      :zoom="13"
                      @dragend="returnHome"
                      :options="{ 'styles' : styles }"
                      style="width: 100%; height: 670px;"
            >
                <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen"
                                  :content="infoContent" @closeclick="infoWinOpen=false"></gmap-info-window>
                <gmap-marker
                        :key="index"
                        v-for="(m, index) in markers"
                        :position="m.user.lat_lng"
                        :clickable="true"
                        :draggable="false"
                        @click="toggleInfoWindow(m,index)"
                ></gmap-marker>
            </gmap-map>
        </div>
    </div>

</template>

<script>
  import * as VueGoogleMaps from 'vue2-google-maps';
  Vue.use(VueGoogleMaps, {
    load: {
      key: 'AIzaSyA-s0zX2A9Y37ocXb7VVkhbS_2SDrZnZn8',
    }
  });
  require('jquery-sticky')


  export default {
    props: ['latLng', 'users'],
    mounted(){
      var position = JSON.parse(this.latLng);
      this.center = {
        lat: position.lat,
        lng: position.lng
      }
      var self = this;
      Events.$on('data-updated', function (data) {
        self.markers = data
        self.infoWinOpen = false;
      })
      this.markers = JSON.parse(this.users)

      $(document).ready(function () {
        $(".cf").sticky({topSpacing: 5});
      });
    },
    data () {
      return {
        position: JSON.parse(this.latLng),
        center: {},
        markers: [],
        infoContent: '',
        infoWindowPos: {},
        infoWinOpen: false,
        currentMidx: null,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        infoOptions: {
          pixelOffset: {
            width: 0,
            height: -35
          }
        },
        styles: [{"featureType":"all","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"},{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.locality","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.government","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.place_of_worship","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.school","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"visibility":"on"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#5c96bc"},{"visibility":"on"}]}]
      }
    },
    methods: {
      returnHome() {
        this.$refs.mapa.panTo(this.center)
      },
      toggleInfoWindow: function (marker, idx) {
        this.$refs.mapa.panTo(marker.user.lat_lng);
        this.infoWindowPos = marker.user.lat_lng;
        this.infoContent = "<strong>" + marker.user.name + "</strong><br><br>Udaljenost: " + marker.distance + "km<br>Rejting: " + marker.rating;
        $('.selected-sitter').removeClass('selected-sitter');
        $('#' + marker.slug).addClass('selected-sitter');
        $("html, body").animate({scrollTop: $('#' + marker.slug).offset().top}, 1000);

        //check if its the same marker that was selected if yes toggle
        if (this.currentMidx == idx) {
          this.infoWinOpen = !this.infoWinOpen;
        }

        //if different marker set infowindow to open and reset current marker index
        else {
          this.infoWinOpen = true;
          this.currentMidx = idx;

        }

      }
    }
  }
</script>
<style>

</style>