<template>
    <div>
        <div class="row top-margin-30">
            <div  class="col-md-4">
                <user-box :ad-data="ad" :user-data="user"></user-box>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li>
                            <a href="#">Naručivanja <span class="pull-right badge bg-red"></span></a></li>
                        <li><a href="/profile/edit">Podaci profila <span class="pull-right badge bg-blue"></span></a></li>
                        <li><a href="#">Podaci za plaćanje <span class="pull-right badge bg-aqua"></span></a></li>
                        <li><a href="#">Podešavanja<span class="pull-right badge bg-green"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <single-order :key="adData.id" v-for="booking in adData.bookings" :booking="booking" :user-data="user"></single-order>

                    <!--<div class="col-md-4 col-sm-6 col-xs-12" >-->
                        <!--<div class="small-box bg-aqua">-->
                            <!--<div class="inner">-->
                                <!--<h3>&nbsp;</h3>-->
                                <!--<p>Status prijave za sitera</p>-->
                            <!--</div>-->
                            <!--<div class="icon">-->
                                <!--<i class="fa fa-level-up"></i>-->
                            <!--</div>-->
                            <!--<span class="small-box-footer text-uppercase">-->
                                <!--na čekanju-->
                            <!--</span>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.col &ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
                        <!--<div class="info-box">-->
                            <!--<span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>-->

                            <!--<div class="info-box-content">-->
                                <!--<span class="info-box-text">Bookinga</span>-->
                                <!--<span class="info-box-number">5</span>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.col &ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
                        <!--<div class="info-box">-->
                            <!--<span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>-->

                            <!--<div class="info-box-content">-->
                                <!--<span class="info-box-text">Uploads</span>-->
                                <!--<span class="info-box-number">13,648</span>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</template>
<script>
  export default {
    components: {
      'user-box' : require('./UserBox.vue'),
      'single-order': require('./my-profile/SingleOrder.vue')
    },
    props: ['ad', 'user'],
    data: function (){
        return {
          adData: JSON.parse(this.ad),
          userData: this.user
        }
    },
    mounted(){
    }

  }
</script>
<style>

</style>