<template>
    <div>
    <div class="box box-primary" v-for="service in services">
        <div class="box-header with-border">
            <h3 class="box-title display-block padding-30"><i class="fa fa-home margin-r-5"></i> <b>{{service.title}} <small>na dan</small></b> <span class="pull-right"><strong>{{service.pivot.price | price}}</strong><small>,oo rsd</small></span></h3>
        </div>
        <div class="box-body">
            <div v-if="service.pivot.holiday_price">
                <b>Cena za praznike</b> <span class="pull-right"><strong>{{service.pivot.holiday_price | price}}</strong><small>,oo rsd</small></span>
            </div>
            <div v-if="service.pivot.additional_dog_price">
                <hr>
                <b>Cena za dodatnog psa</b> <span class="pull-right"><strong>{{service.pivot.additional_dog_price | price}}</strong><small>,oo rsd</small></span>
            </div>

            <div v-if="service.pivot.pick_up_drop_off">
                <hr>
                <b>Dolazak i vraćanje</b> <span class="pull-right"><strong>{{service.pivot.pick_up_drop_off | price}}</strong><small>,oo rsd</small></span>
            </div>

            <div v-if="service.pivot.more_days_discount">
                <hr>
                <b>Popust na preko 3 dana</b> <span class="pull-right"><strong>{{service.pivot.more_days_discount | price}}</strong> <small>%</small></span>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
  export default {
    props: ['services'],
    mounted(){
    //  console.log(this.services)
    },
    filters: {
      price(val){
        return Number(val.toFixed(1)).toLocaleString();
      }
    }
  }
</script>
<style>

</style>