<template>
    <div>
        <img :src="src" alt="">
    </div>
</template>
<script>
    export default {
      props: ['imgSrc'],
      mounted() {
        if(!this.imgSrc) {
          this.src = "/img/default-profile.jpg"
        } else {
          this.src = this.imgSrc
        }
        Events.$on('profile-image-changed', (data)=>{
          this.src=data;
        })
      },
      data: function(){
        return {
          src: ""
        }
      }
    }
</script>

<style scoped>
    img {
        width: 100%;
    }
</style>