<template>
    <div>
        <tabs v-model="activeTab" nav-style="tabs" justified>
            <tab header='<h2>Dok ste na putu</h2>
            <div class="padding-right-x2">
            <i class="pe-7s-home pe-2x"></i>
    </div>
    <div class="text-left">
        <h2 class="service-type-tab-title margin-x0">Čuvanje</h2>
        <div class="small-text text-muted">u domu sitera</div>
    </div>'>
                <cuvanje-search :sizes="sizes" :minMax="minMax"></cuvanje-search>
            </tab>
            <tab header='<div class="padding-right-x2">
            <i class="pe-7s-way pe-2x"></i>
    </div>
    <div class="text-left">
        <h2 class="service-type-tab-title margin-x0">Šetanje</h2>
        <div class="small-text text-muted">30 min šetanje</div>
    </div>'>
                <walking-search :sizes="sizes" :minMax="minMax"></walking-search>
            </tab>
            <tab header='<h2>Dok ste na poslu</h2>
            <div class="padding-right-x2">
            <i class="ion-ios-paw-outline pe-19x"></i>
    </div>
    <div class="text-left">
        <h2 class="service-type-tab-title margin-x0">Dnevno čuvanje</h2>
        <div class="small-text text-muted">u domu sitera</div>
    </div>'>
                <vrtic-search :sizes="sizes" :min-max="minMax"></vrtic-search>
            </tab>
        </tabs>
    </div>
</template>
<script>
  var tabs = require('vue-strap').tabs;
  var tab = require('vue-strap').tab;

  export default {
    props: ['sizes', 'minMaxData'],
    components: {
      'tabs' : tabs,
      'tab' : tab,
      'cuvanje-search' : require('./CuvanjeSearch.vue'),
      'walking-search' : require('./WalkingSearch.vue'),
      'vrtic-search' : require('./VrticSearch.vue'),
    },
    mounted(){

    },
    data: function(){
      return {
        activeTab: 0,
        minMax: JSON.parse(this.minMaxData)
      }
    },
    watch:{
      activeTab(){
        let filters = {
          service: this.activeTab + 1
        }

        Events.$emit('tab-changed')
        Events.$emit('filter-changed', filters)

      }
    }
  }
</script>
<style>

</style>