<template>
    <div>
        <input type="hidden" name="services" :value="JSON.stringify(servicesSelected)">
        <input type="hidden" name="days" :value="JSON.stringify(selectedDays)">
        <input type="hidden" name="times" :value="JSON.stringify(selectedTimes)">
        <div class="service-box" v-for="service in servicesData">
            <div :class="(servicesSelected[service.slug] == true) ? 'service-box-left left-border-' + service.color : 'service-box-left'">
                <i :class="service.icon"></i>
            </div>

            <div class="service-box-right">
                <h3>{{service.title}}</h3>
                {{service.description}}
                <div class="top-margin-20">
                    <div class="row">
                        <div class="col-xs-2">
                            <toggle-button v-model="servicesSelected[service.slug]">{{service.title}}</toggle-button>
                        </div>
                        <div class="col-xs-2 animated fadeIn" v-if="servicesSelected[service.slug] == true">
                            <h4 class="text-right">Dani</h4>
                        </div>

                        <div class="col-xs-4 animated fadeIn" v-if="servicesSelected[service.slug] == true">
                            <button-group v-model="selectedDays[service.slug]" type="">
                                <checkbox true-value="mon">P</checkbox>
                                <checkbox true-value="tue">U</checkbox>
                                <checkbox true-value="wed">S</checkbox>
                                <checkbox true-value="thu">Č</checkbox>
                                <checkbox true-value="fri">P</checkbox>
                                <checkbox true-value="sat">S</checkbox>
                                <checkbox true-value="sun">N</checkbox>
                            </button-group>
                        </div>

                        <div v-if="service.has_terms == 'yes'">
                            <div class="col-xs-1 animated fadeIn" v-if="servicesSelected[service.slug] == true">
                                <h4 class="text-right">Termini</h4>
                            </div>
                            <div class="col-xs-3 animated fadeIn" v-if="servicesSelected[service.slug] == true">
                                <button-group v-model="selectedTimes[service.slug]" type="">
                                    <checkbox true-value="1">6 - 12h</checkbox>
                                    <checkbox true-value="2">12 - 18h</checkbox>
                                    <checkbox true-value="3">18 - 23h</checkbox>
                                </button-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  export default {
    props: ['services', 'preselectedServices', 'preselectedDays', 'preselectedTimes'],
    components: {
      'toggle-button': require('vue-strap').toggleButton,
      'button-group': require('vue-strap').buttonGroup,
      'radio': require('vue-strap').radio,
      'checkbox': require('vue-strap').checkbox,
    },
    mounted(){
      this.servicesSelected = JSON.parse(this.preselectedServices)
      this.selectedDays = JSON.parse(this.preselectedDays)
      this.selectedTimes = JSON.parse(this.preselectedTimes)
    },
    data: function () {
      return {
        servicesData: JSON.parse(this.services),
        servicesSelected: {
          sitting: false,
          walking: false,
          daysitting: false,
        },
        selectedDays: {
          sitting: [],
          walking: [],
          daysitting: []
        },
        selectedTimes: {
          sitting: [],
          walking: [],
          daysitting: []
        }
      }
    }
  }
</script>
<style>

</style>