<template>
    <div class="row">
        <div class="col-md-3 text-right">
            <label class="" for="">{{serviceTitle}}</label>
        </div>
        <div class="col-md-9">
            <div class="input-group">
                <span class="input-group-addon"><input type="checkbox" name="services[]" ref="checkBoxService" :value="serviceId" @click="checked"></span>
                <input type="number" ref="price" v-bind:name="'price[' + serviceId + ']'" class="form-control text-center" :value="value" v-bind:disabled="priceDisabled" placeholder="Unesi željenu cenu po danu usluge" >
                <span class="input-group-addon">.00 RSD</span>
            </div>
        </div>
    </div>

</template>
<script>
    export default {
      props: ['serviceTitle', 'serviceId', 'value'],
      data: function(){
        return {
            priceDisabled: true
        }
      },
      mounted(){
        if(this.value) {
          this.priceDisabled = false;
          this.$refs.checkBoxService.checked = true;
        }

      },
      methods: {
        checked(){
          this.priceDisabled = !this.$refs.checkBoxService.checked
          var that = this;
          setTimeout(function (){
            $(that.$refs.price).focus();
          }, 200)
        }
      }
    }
</script>