<template>

    <div class="box box-success sitterAd" @click="goTo">
        <div class="box-header with-border">
            <h3 class="box-title">{{ad.title}}</h3>
            <p>{{ad.excerpt}}</p>

            <div class="box-tools pull-right">
                <!--<span class="label label-danger"><i class="fa fa-bars"></i></span>-->
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding widget-user-2">
            <div class="row">
                <div class="col-md-7">
                    <div class="widget-user-header bg-white">
                        <div class="widget-user-image">
                            <img class="img-circle profile-user-img" :src="ad.avatar" alt="User Avatar">
                        </div>
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username">{{ad.user.name}}</h3>
                        <h5 class="widget-user-desc">{{ad.user.city}}</h5>
                    </div>
                    <div class="row">

                        <div class="col-md-4 col-xs-4" v-for="service in ad.servicesFull">
                            <div class="description-block border-right">
                                <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>-->
                                <h5 class="description-header">{{service.price}}
                                    <small>rsd</small>
                                </h5>
                                <span class="description-text">{{service.title}}</span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Rejting <span class="pull-right">
                                <star-rating :rating="ad.rating" :read-only="true" :increment="0.01" :star-size="20" v-if="ad.rating"></star-rating>
                                <small v-else>nema rejtinga</small>
                            </span></a></li>
                            <li><a href="#">Udaljenost <span class="pull-right ">{{ad.distance}} km</span></a></li>
                            <li><a href="#">Obavljenih usluga <span class="pull-right">{{ad.bookings_count}}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- /.users-list -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
            <a :href="'/sitters/' + ad.slug" class="uppercase">Pogledaj detalje ></a>
        </div>
        <!-- /.box-footer -->
    </div>

</template>

<script>
  import StarRating from 'vue-star-rating'
    export default {
      props: ['ad'],
      components: {
        'star-rating': StarRating,
      },
      mounted(){

      },
      methods: {
        goTo() {
          window.location.href = '/sitters/' + this.ad.slug
        }
      }
    }
</script>