<template>
    <div class="row top-margin-30">
        <div class="col-md-4">
            <user-box :ad="adData" :user="userData"></user-box>
            <prices-list :services="adData.services"></prices-list>
        </div>
        <div class="col-md-8">

            <!--<sitter-images :ad="adData"></sitter-images>-->
        </div>
    </div>
</template>
<script>
  export default {
    props: ['ad', 'user'],
    components: {
      'user-box' : require('./UserBox.vue'),
      'prices-list' : require('./PricesList.vue'),
      'sitter-images' : require('./SitterImages.vue')
    },
    data: function(){
      return {
        adData: JSON.parse(this.ad),
        userData: JSON.parse(this.user)
      }
    }
  }
</script>
<style>

</style>