<template>
    <dropzone id="images" url="/api/files/upload-images" :show-remove-link="true" :use-font-awesome="true" :headers="headers" acceptedFileTypes="image/*" @vdropzone-removed-file="deleteFile"></dropzone>
</template>
<script>
  import VueDropzone from 'vue2-dropzone';
    export default {
      components: {
        'dropzone' : VueDropzone
      },
      computed: {
        headers(){
            return {
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRF-TOKEN': window.Laravel.csrfToken
            }
        }
      },
      methods:{
        deleteFile(file, error, xhr) {
          console.log(file)
        }
      }
    }
</script>