<template>
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->

        <div class="widget-user-header bg-primary">
            <h3 class="widget-user-username">{{user.name}}</h3>
            <h5 class="widget-user-desc">{{user.city}}</h5>
            <div class="pull-right rating-placeholder">

            </div>
        </div>
        <div class="widget-user-image">

            <img class="img-circle" :src="user.avatar" alt="User Avatar">

            <div v-if="isMe" class="mask img-circle" @click="openFileForm"><i class="pe-7s-photo pe-2x"></i></div>
            <vue-core-image-upload :class="['pure-button','pure-button-primary','js-btn-crop']" :crop="false"
                                   url="/files/upload" extensions="png,gif,jpeg,jpg" :data="token"
                                   v-on:imageuploaded="imageuploaded" ref="upload" text=""
                                   v-if="isMe"></vue-core-image-upload>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-12 text-center top-margin-10">
                    <star-rating :rating="ad.published ? ad.rating : user.rating" :read-only="true" :increment="0.01"
                                 :star-size="20" :inline="true" :show-rating="true" text-class="rating"
                                 v-show="ad.rating || user.rating"></star-rating>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 border-right" v-for="service in ad.services">
                    <div class="description-block">
                        <h5 class="description-header">{{service.title | uppercase}}</h5>
                        <span class="description-text">{{service.price}} <small>rsd</small></span>
                    </div>
                </div>
            </div>
            <div class="row" v-if="!isMe">
                <div class="col-xs-12">
                    <a class="btn btn-success btn-block" :href="'/sitters/' + ad.slug + '/contact'"><i class="pe-7s-headphones"></i> Kontaktiraj / Bukiraj</a>
                </div>
            </div>

            <!-- /.row -->
        </div>
    </div>
</template>
<script>
  import VueLightbox from 'vue-lightbox'
  Vue.component("Lightbox",VueLightbox)
  export default {
    props: ['adData', 'userData'],
    components: {
      'star-rating': require('vue-star-rating'),
      'vue-core-image-upload': require('vue-core-image-upload'),

    },
    data: function () {
      return {
        ad: JSON.parse(this.adData),
        user: JSON.parse(this.userData),
        token: {
          _token: Laravel.csrfToken
        },
        me: {},
        isMe: true
      }
    },
    mounted(){

      var self = this;
      axios.get('/api/me').then(function (response) {
        self.me = response.data;
        self.checkIfMe()
      });

    },
    filters: {
      uppercase(val){
        return val.toUpperCase();
      }
    },
    methods: {
      runForm(){
        Events.$emit('contact-sitter-form', this.ad);
      },
      checkIfMe(){
        if (this.user.id == this.me.id) {
          this.isMe = true;
        } else {
          this.isMe = false;
        }
      },
      imageuploaded(res) {
        if (res.errcode == 0) {
          Events.$emit('profile-image-changed', res.file);
          this.user.avatar = res.file
        }
      },
      openFileForm(){
        this.$refs.upload.$el.querySelector('input').click()
      }
    }
  }
</script>
<style scoped>
    .img-circle {

    }

    .rating-placeholder {
        position: absolute;
        top: 175px;
        right: 15px;
    }

    .widget-user .widget-user-image {

        position: absolute;
        top: 56px;
        left: 50%;
        margin-left: -75px;
    }

    .mask {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*border: 3px solid white;*/
        transition: 0.4s all;
        color: transparent;
        font-size: 25px;
        text-align: center;
        line-height: 150px;

    }

    .mask:hover {
        transition: 0.4s all;
        color: rgb(220, 220, 200);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .widget-user .widget-user-header {
        padding: 20px;
        height: 170px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .widget-user .widget-user-image > img {
        width: 150px;
        height: auto;
        border: 0px none #fff;
        box-shadow: 0 6px 8px rgba(0,0,0,.15);
    }

</style>