<template>
    <div class="row margin-20">
        <div class="col-md-4 no-marign-left no-marign-right">
            <div class="row">
                <div class="col-md-12">
                    <h2>Kojim danima?</h2>
                </div>
                <div class="col-md-12 no-marign-right">
                    <button-group v-model="selectedDays" type="" @click="update">
                        <checkbox true-value="mon">P</checkbox>
                        <checkbox true-value="tue">U</checkbox>
                        <checkbox true-value="wed">S</checkbox>
                        <checkbox true-value="thu">Č</checkbox>
                        <checkbox true-value="fri">P</checkbox>
                        <checkbox true-value="sat">S</checkbox>
                        <checkbox true-value="sun">N</checkbox>
                    </button-group>
                </div>


                <div class="col-md-3 top-margin-40">
                    <h2>Cena na dan?</h2>
                </div>
                <div class="col-md-7 top-margin-40">
                    <range-slider ref="slider" v-model="sliderValue"
                                  tooltip="always" :formatter="'{value}rsd'" :min="min" :max="max"
                                  :tooltip-style="{'backgroundColor': '#A5DAC2','borderColor': '#A5DAC2'}"
                                  :process-style="{'backgroundColor': '#A5DAC2'}" :interval="50"
                                  @drag-end="update"
                    >
                    </range-slider>


                </div>
            </div>

        </div>
        <div class="col-md-5 no-marign-right">
            <h2>Koliki je vaš ljubimac (kg)?</h2>
            <div class="btns-app">
                <button-group v-model="selectedSizes" type="app" @click="update">
                    <checkbox :true-value="size.id" v-for="size in dsizes" :key="size.id">
                        <i :class="'fa ' + size.icon"></i>
                        {{size.title}}
                        <div class="no-top-bottom-margin">
                            <small>{{size.weight}}</small>
                        </div>
                    </checkbox>
                </button-group>
            </div>


        </div>
        <div class="col-md-3 no-marign-left no-marign-right">
            <h2>Koliko pasa imate?</h2>
            <button-group v-model="noOfDogs" type="app" @click="update">
                <radio selected-value="1">
                    <i class="fa fa-adjust"></i>
                    1 Pas
                </radio>
                <radio selected-value="2">
                    <i class="fa fa-adjust"></i>
                    2 Psa
                </radio>
                <radio selected-value="3">
                    <i class="fa fa-adjust"></i>
                    3+ Psa
                </radio>
            </button-group>
        </div>

    </div>
</template>
<script>
  import vueSlider from 'vue-slider-component';
  var buttonGroup = require('vue-strap').buttonGroup;
  var checkbox = require('vue-strap').checkbox;
  var radio = require('vue-strap').radio;

  export default {
    props: ['sizes', 'minMax'],
    components: {
      'button-group' : buttonGroup,
      'checkbox' : checkbox,
      'range-slider': vueSlider,
      'radio' : radio
    },
    mounted() {
      this.dsizes = JSON.parse(this.sizes)
      this.$nextTick(() => {
        this.sliderValue[0] = this.min = Math.floor(this.minMax[3].min / 100) * 100;
        this.sliderValue[1] = this.max = Math.ceil(this.minMax[3].max / 100) * 100;
      })
      var self = this;
      Events.$on('tab-changed', function (){
        self.$nextTick(() => {
          self.$refs.slider.refresh()
        })
      })
    },
    data: function () {
      return {
        sliderValue: [
          150,
          5000
        ],
        min: 1,
        max: 2,
        filters: {},
        dsizes: "",
        selectedSizes: [],
        selectedDays: [],
        noOfDogs: ""
      }
    },
    watch: {
      selectedSizes(){
        this.update();
      },
      selectedDays(){
        this.update();
      },
      noOfDogs(){
        this.update();
      }

    },
    methods: {
      update(){
        this.filters.price = this.sliderValue;
        this.filters.service = 3;
        if(this.selectedSizes) {
          this.filters.sizes = this.selectedSizes
        }
        if (this.noOfDogs) {
          this.filters.noOfDogs = this.noOfDogs
        }
        if (this.selectedDays) {
          this.filters.selectedDays = this.selectedDays
        }
        Events.$emit('filter-changed', this.filters)
      }
    }
  }
</script>
<style>

</style>