<template>
    <div class="box" v-if="images.length">
        <div class="box-header">
            <el-carousel indicator-position="outside" :autoplay="false" height="400px">
                <el-carousel-item v-for="item in images" :key="item">
                    <img :src="'/storage/' + item.id + '/conversions/carousel.jpg'" alt="">
                </el-carousel-item>
            </el-carousel>
        </div>
    </div>
</template>
<script>
  export default {
    props: ['adData'],
    data: function () {
      return {
        images: JSON.parse(this.adData).media
      }
    },
    mounted(){

    }


  }
</script>
<style>

</style>