<template>
    <div>
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">

                    <img class="img-circle" :src="booking.customer.avatar" alt="User Image">
                    <span class="username"><a href="#">{{booking.customer.name}}</a> </span>
                    <span class="service description">
                        <i :class="booking.service.icon"></i> {{booking.service.title | uppercase}}
                    </span>
                    <span class="description">Poslato - {{booking.created_at | dateDiff}}</span>
                    <span class="description">Period: {{booking.from_date | date}} - {{booking.to_date | date}} ({{booking.no_of_days}} dana)</span>
                    <span class="description">Br. ljubimaca: {{booking.dogs.length}}</span>
                    <hr>
                    <el-row class="description">
                        <el-col :span="6">
                            <a class="btn btn-primary btn-block">Izmeni</a>
                        </el-col>
                        <el-col :span="18" class="right">
                            <pet-chips :pet="pet" key="pet.id" v-for="pet in booking.dogs"></pet-chips>
                        </el-col>
                    </el-row>

                    </span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools text-right">
                    <span class="badge bg-aqua">{{booking.status.status}}</span>
                    <!--<button type="button" class="btn btn-success btn-xs " data-toggle="tooltip" title="Accept">-->
                    <!--Prihvati</button>-->
                    <!--<button type="button" class="btn btn-danger btn-xs " data-toggle="tooltip" title="Reject">-->
                    <!--X</button>-->
                    <div class="price">
                        <span>{{booking.gross_price | currency}}</span>
                    </div>
                    <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- post text -->
                <p>{{booking.message}}</p>

                <!-- Attachment -->
                <div class="attachment-block clearfix" v-if="1 == 2">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>Ljubimci</h3>
                            <img class="attachment-img img-circle" :src="pet.avatar" alt="Attachment Image"
                                 v-for="pet in booking.dogs">
                        </div>
                        <div class="col-xs-6">
                            <datepicker :inline="true" :highlighted="highlighted"></datepicker>
                        </div>
                    </div>

                </div>
                <!-- /.attachment-block -->

                <!-- Social sharing buttons -->
                <button type="button" class="btn btn-box-tool msg" @click="messages = !messages">
                    <i class="fa fa-comments"></i></button>
                <!--<button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>-->
                <!--<button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>-->
                <span class="pull-right text-muted">{{messagesCount}} messages - 1 unread</span>
            </div>
            <!-- /.box-body -->

            <div class="msg-box">

                <div class="box-footer box-comments" :class="{'not-read' : message.not_read, 'my-message' : message.sender.id == user.id}" v-for="message in booking.messages">
                    <div class="box-comment" >
                        <!-- User image -->
                        <img class="img-circle img-sm" :src="message.sender.avatar" alt="User Image">

                        <div class="comment-text">
                          <span class="username">
                            {{message.sender.name}}
                            <span class="text-muted pull-right">{{message.created_at | dateDiff}}</span>
                          </span><!-- /.username -->
                            {{message.body}}
                        </div>
                        <!-- /.comment-text -->
                    </div>
                </div>
                <!-- /.box-footer -->
                <div class="box-footer">

                    <img class="img-responsive img-circle img-sm" :src="user.avatar" alt="Alt Text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                        <input type="text" class="form-control input-sm" v-model="message"
                               placeholder="Press enter to post comment" @keyup.enter="sendMessage">
                    </div>

                </div>
            </div>

            <!-- /.box-footer -->
        </div>


    </div>
</template>
<script>
  import moment from 'moment'

  export default {
    props: ['booking', 'userData'],
    components: {
      'datepicker': require('vuejs-datepicker'),
      'pet-chips': require('../common/pet-chips.vue')
    },
    data: function () {
      return {
        user: JSON.parse(this.userData),
        messages: true,
        duration: moment(this.booking.from_date).diff(moment(this.booking.to_date)),
        visiblePopover: false,
        message: "",
        highlighted: {
          from: moment(this.booking.from_date),
          to: moment(this.booking.to_date),
//            dates:[
//              new Date(2017, 4, 16),
//              new Date(2017, 4, 17),
//              new Date(2017, 4, 18)
//            ]

        }
      }
    },
    methods: {
      sendMessage(){
        axios.post('/api/messages/', {
          order_id: this.booking.id,
          body: this.message,
          recipient_id: this.booking.customer.id
        }).then(response => {
          this.message = ""
          this.booking.messages = response.data.data.items
        });
      }

    },
    mounted(){
      $('.msg').off('click').on('click', function () {
        $(this).parent('div').next().slideToggle();
      })
      //console.log(this.booking)
    },
    computed: {
      messagesCount(){
        return this.booking.messages.length
      }
    },
    filters: {
      dateDiff(value) {
        return moment(value).fromNow();
      },
      date(value) {
        return moment(value).format('D. MMM YYYY.')
      },
      duration(value) {
        return moment.duration(value).humanize(true);
      },
      currency(value) {
        return slimFormatter.currency(value, " rsd", ".", ',', false)
      },
      uppercase(value) {
        return value.toUpperCase();
      }

    }

  }
</script>
<style scoped>
    .msg-box {
        /*display: none;*/
    }
    .box-comments {
        background-color: white;
    }
    .box-comments.not-read {
        background-color: #F7F7F7;
    }
    .box-comments.not-read.my-message {
        background-color: white;
    }



    .slideup, .slidedown {
        max-height: 0;
        overflow-y: hidden;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }

    .slidedown {
        max-height: 60px;
    }

    .price {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
        line-height: 80px;
        text-align: center;
    }

    .price span {
        margin-left: 30px;
        font-size: 30px;
    }

    .service {
        margin: 10px 16px;
        padding-left: 30px;
        font-size: 18px;
    }

    .right {
        margin-right: 0;
        margin-left: auto;
    }

</style>