<template>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                <slot name="title"></slot>
            </h3>
        </div>

        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody><tr>
                    <th style="width: 10px">#</th>
                    <th>Stavka</th>
                    <th>Dana/puta</th>
                    <th>Pasa</th>
                    <th style="width: 40px">Cena</th>
                </tr>
                <tr v-for="(row, key, index) in table" :key="index">
                    <td>{{index+1}}.</td>
                    <td>{{row.title}}</td>
                    <td class="text-center">
                        <span :class="row.cl">{{row.times}}</span>
                    </td>
                    <td class="text-center">
                        {{row.dogs}}
                    </td>
                    <td>{{row.price | price}}<small>rsd</small></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <small>* okvirno dok siter ne potvrdi</small></td>
                    <td><strong>TOTAL</strong></td>
                    <td><strong>{{this.calculated.total | price}}</strong><small>rsd</small></td>
                </tr>
                </tbody></table>
        </div>
        <!-- /.box-body -->
    </div>
</template>
<script>
    const moment = require('moment')
  export default {
    props: ['adData'],
    data: function (){
        return {
          title: "",
          services:{},
          selectedServiceId: 1,
          selectedService: {},
          period: 0,
          dogs: 0,
          dropOffTimes: 0,
          calculated :{
            regular: 0,
            holiday: 0,
            dropOff: 0,
            daysDiscount: 0,
            dogsDiscount:0,
            total: 0
          },
          table: {
            service: {
              title: "---",
              times: 0,
              dogs: 0,
              price: 0,
              cl: "badge bg-red"
            }
          },
          prices: {
            regular: 0,
            holiday: 0,
            dropOff: 0,
            daysDiscount: 0,
            dogsDiscount:0,

          },
          form: {}
        }
    },
    mounted(){
      this.services =  JSON.parse(this.adData).services
      this.calculate();
      Events.$on('calculation-updated', form => {
        this.form = form;
        this.calculate();
      });
    },
    methods: {
      calculate(){
        this.selectedServiceId = this.form.selectedService

        for(var key in this.services) {

          if (this.services[key].pivot.service_id == this.selectedServiceId) {
            this.selectedService = this.services[key];
          }
        }
        if(this.selectedService.length === undefined) {
          this.selectedService = this.services[0];
        }


        this.$nextTick(function () {

          this.prices.regular = this.selectedService.pivot.price;
          this.prices.holiday = this.selectedService.pivot.holiday_price;
          this.prices.dropOff = this.selectedService.pivot.pick_up_drop_off;
          this.prices.daysDiscount = this.selectedService.pivot.more_days_discount;
          this.prices.dogsDiscount = this.selectedService.pivot.additional_dog_price;

          if(this.form.period) {
            this.period = moment.duration(moment(this.form.period[1]).diff(moment(this.form.period[0]))).asDays();
            this.period = (this.selectedServiceId != 1) ? this.period +1 : this.period;
          }
          this.dogs = this.form.selectedPets.length //broj pasa
          this.calculated.regular  = this.prices.regular * this.dogs * this.period; //regular price
          this.$set(this.table, "service", {
            title: this.selectedService.title,
            times: this.period,
            dogs: this.dogs,
            price: this.calculated.regular,
            cl: "badge bg-red"
          })


          //red, yellow, light-blue, green, aqua
          this.calculated.holiday  = this.prices.holiday * this.dogs * 0;
          //holiday price
          //TODO: uraditi kalkulaciju praznika

          this.calculated.dropOff = 0;
          this.dropOffTimes = 0;
          if (this.selectedServiceId == 1) {
            if(this.form.dropOff.sitting) {
              this.calculated.dropOff = this.prices.dropOff;
              this.dropOffTimes = 1;

              this.$set(this.table, "dropoff", {
                title: "Siter preuzima i vraća",
                times: 1,
                dogs: "",
                price: this.calculated.dropOff,
                cl: "badge bg-light-blue"
              });
            } else {
              delete this.table.dropoff;
            }
          } else if(this.selectedServiceId == 3) {
            if(this.form.dropOff.daily) {
              this.calculated.dropOff = this.prices.dropOff * this.period;
              this.dropOffTimes = this.period;

              this.$set(this.table, "dropoff", {
                title: "Siter preuzima i vraća",
                times: this.dropOffTimes,
                dogs: "",
                price: this.calculated.dropOff,
                cl: "badge bg-light-blue"
              });
            } else {
              delete this.table.dropoff;
            }
          }

          if(this.dogs > 1) {
            this.calculated.dogsDiscount = - this.calculated.regular * (this.prices.dogsDiscount / 100);
            this.$set(this.table, "dogsdiscount", {
              title: "Popust na više pasa",
              times: this.prices.dogsDiscount + "%",
              dogs: this.dogs,
              price: this.calculated.dogsDiscount,
              cl: "badge bg-green"
            });
          } else {
            this.calculated.dogsDiscount = 0;
            delete this.table.dogsdiscount;
          }

          if(this.period > 3) {
            this.calculated.daysDiscount =  - this.calculated.regular * (this.prices.daysDiscount / 100)
            this.$set(this.table, "daysdiscount", {
              title: "Popust na više od 3 dana",
              times: this.prices.daysDiscount + "%",
              dogs: this.dogs,
              price: this.calculated.daysDiscount,
              cl: "badge bg-aqua"
            });
          } else {
            this.calculated.daysDiscount = 0;
            delete this.table.daysdiscount;
          }


        this.calculated.total = this.calculated.regular
            + this.calculated.holiday
            + this.calculated.daysDiscount
          + this.calculated.dogsDiscount
          + this.calculated.dropOff;

        })

      }
    },
    filters: {
      price(value) {
        return slimFormatter.currency(value,'','.',',',false);
      }
    }
  }
</script>
<style>

</style>