<template>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-position="left" label-width="120px">
            <div class="text-center">
                <button-group v-model="form.selectedService" type="app" @change="updated">
                    <radio :selected-value="item.id" v-for="item in services" :key="item.id">
                        <i :class="'fa ' + item.icon"></i>
                        {{item.title}}
                        <div class="no-top-bottom-margin">

                        </div>
                    </radio>
                </button-group>
            </div>
            <div class="text-center">
                <h5 class="top-margin-30 text-uppercase text-center"><strong>U kom periodu? </strong></h5>
                <el-form-item prop="period" :show-message="false" label-width="0px" @change="updated">
                    <el-date-picker
                            v-model="form.period"
                            type="daterange"
                            range-separator=" - do - "
                            format="dd. MMM yyyy."
                            placeholder="Od kog do kog datuma">
                    </el-date-picker>
                </el-form-item>
            </div>
            <!-- CUVANJE -->
            <div v-if="form.selectedService == 1" class="text-center">


                <div class="form-group top-margin-40">
                    <label for="form.dropOff.sitting" class="">Da li želite da siter dođe po psa? </label>
                    <el-switch
                            v-model="form.dropOff.sitting"
                            on-text="DA"
                            off-text="NE">
                    </el-switch>
                </div>


            </div>
            <!-- END CUVANJE -->

            <!-- SETANJE -->
            <div v-if="form.selectedService == 2" class="text-center">
                <div class="form-group top-margin-40">
                    <h5 class="text-center text-uppercase">
                        <label for="form.selectedDays" class="">Kojim danima? </label>
                    </h5>
                    <button-group ref="selectedDays" v-model="form.selectedDays" type="" @click="updated">
                        <checkbox true-value="mon">P</checkbox>
                        <checkbox true-value="tue">U</checkbox>
                        <checkbox true-value="wed">S</checkbox>
                        <checkbox true-value="thu">Č</checkbox>
                        <checkbox true-value="fri">P</checkbox>
                        <checkbox true-value="sat">S</checkbox>
                        <checkbox true-value="sun">N</checkbox>
                    </button-group>
                </div>

                <div class="form-group top-margin-40">
                    <h5 class="text-center text-uppercase">
                        <label for="form.selectedTimes" class="">U koje vreme? </label>
                    </h5>
                    <button-group v-model="form.selectedTimes" type="app" @click="updated">
                        <radio selected-value="1"><i class="fa fa-clock-o"></i>6h - 12h</radio>
                        <radio selected-value="2"><i class="fa fa-clock-o"></i>12h - 18h</radio>
                        <radio selected-value="3"><i class="fa fa-clock-o"></i>18h - 23h</radio>
                    </button-group>
                </div>




            </div>
            <!-- END SETANJE -->

            <!-- DNEVNO -->
            <div v-if="form.selectedService == 3" class="text-center">
                <div class="form-group top-margin-40">
                    <h5 class="text-center text-uppercase">
                        <label for="form.selectedDays" class="">Kojim danima? </label>
                    </h5>
                    <button-group v-model="form.selectedDays" type="" @click="updated">
                        <checkbox true-value="mon">P</checkbox>
                        <checkbox true-value="tue">U</checkbox>
                        <checkbox true-value="wed">S</checkbox>
                        <checkbox true-value="thu">Č</checkbox>
                        <checkbox true-value="fri">P</checkbox>
                        <checkbox true-value="sat">S</checkbox>
                        <checkbox true-value="sun">N</checkbox>
                    </button-group>
                </div>

                <div class="form-group top-margin-40">
                    <label for="form.dropOff.daily" class="">Da li želite da siter dođe po psa? </label>
                    <el-switch
                            v-model="form.dropOff.daily"
                            on-text="DA"
                            off-text="NE">
                    </el-switch>
                </div>


            </div>
            <!-- END DNEVNO -->
            <div class="form-group top-margin-40 text-center">
                <label for="sms" class="">Da li želite da dobijete SMS kada {{ad.user.name}} odgovori? </label>
                <el-switch
                        v-model="form.sms"
                        on-text="DA"
                        off-text="NE">
                </el-switch>
            </div>
            <div class="pets-selection-container">
                <el-form-item label="" label-width="0" prop="selectedPets">
                    <div class="top-margin-30 pets-selection">
                    <div class="heading">
                        Vaši<br>ljubimci
                    </div>

                    <el-checkbox-group v-model="form.selectedPets" size="large" fill="#5cb85c" text-color="#ffffff"
                                       class="pet-contaner">
                        <checkbox-image v-for="dog in dogs" :label="dog.id"
                                        border-color="#5cb85c" :url="dog.avatar" :key="dog.id"
                        >{{dog.name}}
                        </checkbox-image>
                        <span class="add-pet" @click="dialogFormVisible = true"><i class="pe-7s-magic-wand"></i> <br>Novi</span>
                    </el-checkbox-group>
                </div>
                </el-form-item>
            </div>
            <el-form-item label="Poruka" prop="message">
                <el-input
                        type="textarea"
                        :autosize="{minRows: 3}"
                        placeholder="Molimo unesite poruku siteru"
                        v-model="form.message">
                </el-input>
            </el-form-item>
            <div class="row top-margin-30">
                <div class="col-xs-6 col-xs-offset-2 text-left">
                    <label class="">Saglasan sam da plaćanje usluge obavim preko DogStel.com i sa ostalim <a
                            href="#">pravilima
                        korišćenja</a> &nbsp;</label>
                </div>
                <div class="col-xs-3 text-left">
                    <el-switch
                            v-model="form.termsOfService"
                            on-text="DA"
                            off-text="">
                    </el-switch>
                </div>
            </div>
            <el-form-item class="top-margin-30">
                <el-button type="primary" :disabled="!form.termsOfService" @click="submitForm('form')">Pošalji zahtev</el-button>
                <el-button>Odustani</el-button>
            </el-form-item>
        </el-form>

        <el-dialog title="Dodaj ljubimca" :visible.sync="dialogFormVisible" :before-close="handleClose">
            <pet-create-form :animal-types="animalTypes" :dogs="dogBreeds" :cats="cats" :other="other"></pet-create-form>
        </el-dialog>
    </div>
</template>
<script>
  import Datepicker from 'vuejs-datepicker';
  export default {
    props: ['pets', 'adData', 'animalTypes', 'dogBreeds', 'cats', 'other'],
    components: {

      'button-group': require('vue-strap').buttonGroup,
      'radio': require('vue-strap').radio,
      'checkbox': require('vue-strap').checkbox,
      'app-button': require('./../AppButton.vue'),
      'checkbox-image': require('./../common/checkbox-image.vue'),
      'pet-create-form': require('./../pet/PetCreateForm.vue')
    },
    data: function () {
      return {
        dogs: JSON.parse(this.pets),
        ad: JSON.parse(this.adData),
        dialogFormVisible: false,
        form: {
          termsOfService: false,
          sms: true,
          period: "",
          message: "",
          selectedService: 1,
          selectedDays: ['mon', 'tue', 'wed', 'thu', 'fri'],
          selectedTimes: [],
          selectedPets: [],
          dropOff: {
            sitting: false,
            walking: false,
            daily: false
          },
        },
        rules: {
          message: [
            {required: true, message: 'Molimo unesite poruku', trigger: 'blur'},
          ],
          selectedPets: [
            {type:"array", required: true, message: 'Molimo odaberite makar jednog ljubimca', trigger: 'change'},
          ],
          period: [
            {required: true, type:"array", message: 'Molimo unesite period', trigger: 'change'}
          ]
        },
        checkboxGroup3: [],
        services: JSON.parse(this.adData).services,
        me: "",
      }

    },
    mounted(){
      this.$nextTick(() => {
        Events.$emit('calculation-updated', this.form);
      })
      this.$watch('form', function (newVal, oldVal) {
        Events.$emit('calculation-updated', this.form);
      }, {deep: true})
      axios.get('/api/me').then( response => {
        this.me = response.data;
      });
      Events.$on('pet-profile-entered',  () => {
          this.dialogFormVisible = false;
            this.$notify({
              title: 'Success',
              message: 'Pet added',
              type: 'success'
            });
            axios.get('/api/me').then( (response) => {
              this.me = response.data;
              this.dogs = this.me.pets;
              let lastKey = this.dogs.length - 1;
              this.form.selectedPets.push(this.dogs[lastKey].id)
            });
      })
    },
    methods: {
      updated(){
        console.log(this.form)
        console.log('updated')
      },

      handleClose(done) {
        this.dialogFormVisible = false;
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>
<style scoped>
    .el-date-editor--daterange.el-input {
        width: 300px;
    }
    .el-form-item__error {
        text-align: center;
        width: 100% !important;
    }
    .pets-selection {
        position: relative;
        background-color: whitesmoke;

        border-radius: 5px;
    }

    .pets-selection-container {
        margin-bottom: 30px;
    }

    .pets-selection-container .el-form-item__content {
        line-height: normal;
    }

    .pets-selection-container .is-error .pets-selection {
        background-color: rgba(255,0,0, 0.05);
    }

    .pet-contaner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
    }

    .add-pet {
        text-align: center;
        width: 100px;
        height: 100px;
        border: 2px dashed #C3C3C3;
        border-radius: 50%;
        cursor: pointer;
        border-radius: 50%;
        margin: 10px;
        margin-bottom: 40px;
        position: relative;
        padding: 20px;
        transition: 0.4s all;
        color: #C3C3C3;
        text-transform: uppercase;
        font-size: 0.9em;
    }

    .add-pet:hover {
        transition: 0.4s all;
        border: 2px dashed #9f9f9f;
        color: #9f9f9f;
        background-color: #ebebeb;
    }

    .add-pet:active {
        transition: 0.4s all;
        border: 2px dashed #20a0ff;
        color: white;
        background-color: #20a0ff;
    }

    .add-pet i {
        transition: 0.4s all;
        color: #C3C3C3;
        font-size: 3em;
    }

    .add-pet:hover i {
        transition: 0.4s all;
        color: #9f9f9f;
    }

    .add-pet:active i {
        transition: 0.4s all;
        color: white;
    }

    .pets-selection .heading {
        position: absolute;
        text-transform: uppercase;
        font-weight: 900;
        top: 10px;
        left: 10px;
        font-size: 2em;
        color: #e4e4e4;
    }

    .input-group-addon {
        border: 1px solid #eef2f9 !important;
    }
</style>