.top-margin-40 {
  margin-top: 40px;
}
.pe-19x {
  font-size: 1.8em;
  line-height: 0.5em;
}
.profile-user-img {
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  border: none;
  padding: 0;
}
.box {
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  border-top-width: 0px;
}



.box-footer {
  background: transparent;
}

.box-header:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('https://lorempixel.com/300/200/nature/3');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.sitterAd .box-header {
  h3 {
    color: $brand-success;

  }
  p {
    color: $brand-primary;

  }
}

.main-footer {
  padding: 30px;
}
.top-margin-30 {
  margin-top: 30px;
}

.top-margin-20 {
  margin-top: 20px;
}
.top-margin-10 {
  margin-top: 10px;
}
.bottom-margin-20 {
  margin-bottom: 20px;
}
.margin-20 {
  margin: 20px 0;
}

.no-top-bottom-margin {
  margin-bottom: 0;
  margin-top: 0;
}
.profile-square {
  width: 150px;
  height: 150px;
}
input[type="radio"] {
  margin-right: 10px;
}
.btn-group a, .line-height-1 {
  line-height: 1;
}
.display-block {
  display: block !important;
  padding-bottom: 10px !important;
}

.rating {
  display: block !important;
  margin-top: -5px !important;
  background-color: #001A35;
  padding: 0px 7px 3px;
  line-height: 18px;
  border-radius: 6px;
  color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc;
  border-color: #367fa9;
  padding: 1px 10px;
  color: inherit;
}

.padding-right-x2 {
  padding-right: 10px;
}
.service-tabs {
  display: flex;
  justify-content: center;
}
.nav-tabs-custom > .nav-tabs > li {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    margin: 0;
    font-size: 1.3em;
  }
}
.nav-tabs-custom > .nav-tabs > li.active {
  a:hover {
    background-color: #fff;
  }
  a {
    background-color: #fff;
  }

  &.border-danger {
    border-top-color: $brand-danger;
  }
  &.border-success {
    border-top-color: $brand-success;
  }

  &.border-warning {
    border-top-color: $brand-warning;
  }
  &.border-info {
    border-top-color: $brand-info;
  }
}

.btn-app {
  background-color: transparent;
  border-color: $text-disabled-darken;
  color: $text-disabled-darken;
  font-family: $font-family-sans-serif2;
  text-transform: uppercase;

  &.active {
    border-color: $brand-success !important;
  }
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.focus,
.btn:active,
.btn.active
{
  box-shadow: none;
  outline:0px !important;
  //-webkit-appearance:none;
}

.btn, .btn:focus, .btn:active, label:focus, .focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-app.active {
  color: darken($text-disabled, 40%) !important;
}

.nav-tabs-custom > .nav-tabs > li.active:last-child > a {
  border-top-color: transparent;
  border-left-color: #f4f4f4;
  border-right-color: transparent;
}

.form-control[readonly] {
  background-color: transparent;
}


@keyframes flashit {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #fff8f1;
  }
  100% {
    background-color: transparent;
  }
}
.selected-sitter.box  {
  transition-property: border-top-color;
  transition-duration: 0.5s;
  transition-delay: 0.9s;
  border-top-width: 3px;
  border-top-color: $brand-success;
}

.selected-sitter .box-header {
  animation-name: flashit;
  animation-delay: 0.6s;
  animation-duration: 0.8s;
}

dt {
  color: $gray-dark;
  margin: 10px 0;
}