.service-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  margin-bottom: 20px;

  h4 {
    text-transform: uppercase;
    font-size:0.9em;
  }
  .help-block {
    padding-bottom: 10px;
    margin-bottom: 25px !important;
    border-bottom: 1px dotted lighten($gray-light, 20%);
  }
}

.service-box-left {
  order: 0;
  flex: 0 1 10%;
  align-self: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;

  border-left: 10px solid transparent;


}

.service-box-right {
  order: 0;
  flex: 0 1 90%;
  align-self: auto;

  padding: 15px;


}


@mixin left-border($color) {
  border-left: 10px solid lighten($color, 10%);
  transition: 0.4s all;
}
.left-border-green {
  @include left-border($brand-success)
}
.left-border-red {
  @include left-border($brand-danger)
}

.left-border-blue {
  @include left-border($brand-info)
}

