.tab-content {
  margin: 15px 15px !important;
  padding-bottom: 1px;
}
.nav-tabs-custom  {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
}
.nav-justified > li {
  position: relative;
  &:first-child.active a {
    border-left-color: transparent !important;
    border-top-color: $brand-danger !important;
  }

  &:last-child.active a {
    border-right-color: transparent !important;
    border-top-color: $brand-primary !important;
  }
  &.active a {
    border-left-color: #f2f2f2 !important;
    border-right-color: #f2f2f2 !important;
    border-top-color: $brand-success !important;
    border-bottom-color: transparent !important;
    background-color: transparent !important;
  }
  a:hover {
    background-color: lighten($text-muted, 27%);
  }

  a {

    color: $text-color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a > h2 {
    font-size: .8em !important;
    text-transform: uppercase;
    position: absolute;
    top: -16px;
    left: 0;
  }
  &:last-child > a > h2 {
    left: auto;
    right: 0;
  }

  a:after {
    content: "";
    clear: both;
    display: table;
  }
  a > div {
    float: left;

  }

}