.service-icon {
  line-height: 80px;
  font-size: 40px;
  text-align: center;
}

.services-description {
  h4 {
    color: $brand-primary;
  }
  li {
    font-size: 0.9em;
    list-style: square;

  }
  li:nth-child(odd) {
    color: $brand-success;
  }
  li:nth-child(even) {
    color: $brand-primary;
  }
}
.about-box, .home-box, .box-rules {
  h3 {
    color: $brand-success;
  }
  i {
    color: $brand-primary;
  }
}
.about-me {

  font-size: 16px;
  padding: 0 20px 20px;
  line-height: 1.8em;
}
.home-box .box-content:after, .box-rules .box-content:after {
  content: "";
  clear: both;
  display: block;
}
.feature {
  i {
    color: $brand-success;
  }
  font-size: 18px;
  color: $brand-primary;
  float: left;
  width: 50%;
  padding: 20px;
}