$icon-font-path: '../fonts/';

@function font-path($path) {
  @return $path;
}
// Body
//$body-bg: #f5f8fa;
$body-bg: #F4F4F7;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #39527B;
$brand-info: #5bc0de;
$brand-success: #60C84C;
$brand-warning: #FFC952;
$brand-danger: #FF7473;
$text-muted: #b7b7b7;
$text-disabled: #b7b7b7;
$text-disabled-darken: darken(#b7b7b7, 10%);
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-sans-serif2: "Source Sans Pro", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

@mixin form-control-focus($color: $input-border-focus) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);
  &:focus {
    border-color: red;
    outline: 0;
    @include box-shadow(inset 0 0 0 rgba(0,0,0,.075), 0 0 0 $color-rgba !important);
  }
}