@import "animate";
body{
  margin:0;
  padding:0;
  background:#FFF;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */

#page-loading-blocs-notifaction{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("../img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
  width:100%;
  clear:both;
  background: 50% 50% no-repeat;
  padding:0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}
.bloc .container{
  padding-left:0;
  padding-right:0;
}


/* Sizes */

.bloc-lg{
  padding:100px 50px;
}
.bloc-md{
  padding:50px;
}

/* = Full Screen Blocs
-------------------------------------------------------------- */

.bloc-fill-screen{
  padding-top:0;
  position: relative;
  height: inherit;
}
.bloc-fill-screen > .container{
  position:relative;
  top:50%;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}
.bloc-fill-screen.bloc-group .bloc{
  vertical-align: middle!important;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
  position: absolute;
  margin: 20px auto;
  left: 0;
  right: 0;
  z-index: 1;
  transform: none;
}
.bloc-fill-screen .fill-bloc-top-edge{
  top:0;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
  top: initial;
  bottom: 20px;
}
.blocs-hero-btn-dwn{
  width: 58px;
  height: 58px;
  display: block;
  margin:0 auto;
  line-height: 58px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: rgba(255,255,255,.8);
  background: rgba(0,0,0,.6);
  border:0;
}
.blocs-hero-btn-dwn:hover{
  color: rgba(255,255,255,1);
}


/* Background Styles */

.bg-center,.bg-l-edge,.bg-r-edge,.bg-t-edge,.bg-b-edge,.bg-tl-edge,.bg-bl-edge,.bg-tr-edge,.bg-br-edge,.bg-repeat{
  -webkit-background-size: auto!important;
  -moz-background-size: auto!important;
  -o-background-size: auto!important;
  background-size: auto!important;
}


/* Video Background Styles */

.video-bg-container, .bloc-video{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: -50%;
  overflow: hidden;
  transform: translateX(-50%);
  -webkit-transform:translateX(-50%);
}
.bloc-video{
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}


/* Background Effects */

.b-parallax{
  background-attachment:fixed;
}


/* Dark theme */

.d-bloc{
  color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
  color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
  border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
  border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a,.d-bloc .navbar-brand, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
  color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc .navbar-brand:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
  color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
  background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
  color:rgba(255,255,255,1);
  border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
  color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
  color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
  border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
  border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn{
  color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover{
  color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
  color:rgba(0,0,0,.7);
  border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .panel,.l-bloc{
  color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover,.l-bloc button:hover{
  color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
  border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span,.l-bloc .divider-h span{
  border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
  color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
  color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
  color:rgba(0,0,0,.6);
}
.d-bloc .panel .btn-wire,.d-bloc .panel .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
  color:rgba(0,0,0,.7);
  border-color:rgba(0,0,0,.3);
}

/* Column No Gutters */

.row-no-gutters{
  margin-right:0;
  margin-left:0;
}
.row.row-no-gutters > [class^="col-"],.row.row-no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Bloc text custom styling */

#bloc-1 h1{
  font-size: 60px;
  font-weight: 100;
  font-family: Josefin Sans;
}
#bloc-1 h1{
  font-size: 60px;
  font-weight: 100;
  font-family: 'Josefin Sans';
}
#bloc-2 h2{
  line-height: 34px;
  font-size: 36px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
  margin-bottom: 0;
  z-index:1;
}
.navbar-brand{
  height:auto;
  padding:3px 15px;
  font-size:25px;
  font-weight:normal;
  font-weight:600;
  line-height:44px;
}
.navbar-brand img{
  max-height: 200px;
  margin: 0 5px 0 0;
  display:inline;
}
.navbar .nav{
  padding-top: 2px;
  margin-right: -16px;
  float:right;
  z-index:1;
}
.nav > li{
  float:left;
  margin-top:4px;
  font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
  text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
  background:transparent;
}
.navbar-toggle{
  margin: 10px 10px 0 0;
  border: 0px;
}
.navbar-toggle:hover{
  background:transparent!important;
}
.navbar-toggle .icon-bar{
  background-color: rgba(0,0,0,.5);
  width: 26px;
}
/* Inverted navbar */

.nav-invert .navbar .nav{
  float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
  float:right;
}
@media (min-width: 768px){
  .site-navigation{
    position:absolute;
    top:50%;
    right:20px;
    transform:translate(0, -50%);
    -webkit-transform:translateY(-50%);
  }
  .nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
    color:#484848;
  }
  .nav-invert .site-navigation{
    left:0;
    right:0;
  }
  .nav-center{
    text-align:center;
  }
  .nav-center .navbar-header{
    width:100%;
  }
  .nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
    float: none;
    display:inline-block;
  }
  .nav-center .site-navigation{
    position:relative;
    width:100%;
    margin-top:20px;
  }
}
.nav > li > .dropdown a{
  background: none!important;
  display: block;
  padding: 14px 15px;
}

nav .caret{
  margin: 0 5px;
}
/* Dropdown Menus SubMenu */
.dropdown-menu .dropdown-menu{
  top:-8px;
  left:100%;
}
.dropdown-menu .dropmenu-flow-right{
  top:100%;
  left:0;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
  border: 4px solid black;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
  margin: 6px -5px 0 0!important;
  float: right;
}
/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
  position:fixed;
  top:0;
  z-index:1000;
  box-shadow:0 1px 2px rgba(0,0,0,.3);
  transition: all .2s ease-out;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-sm{
  margin-top:10px;
  margin-bottom:5px;
}
.mg-md{
  margin-top:10px;
  margin-bottom:20px;
}
.mg-lg{
  margin-top:10px;
  margin-bottom:40px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
  margin: 0 5px 5px 0;
}
.btn.pull-right{
  margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
  color:#FFF;
  background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
  outline: none!important;
}

.btn-wire{
  background:transparent!important;
  border:2px solid transparent;
}
.btn-wire:hover{
  background:transparent!important;
  border:2px solid transparent;
}
.btn-xl{
  padding: 16px 40px;
  font-size: 28px;
}
.a-btn{
  padding: 6px 10px 6px 0;
  line-height: 1.42857143;
  display:inline-block;
}
.text-center .a-btn{
  padding: 6px 0;
}
.a-block{
  width:100%;
  text-align: left;
}
.btn .caret{
  margin:0 0 0 5px}.dropdown a .caret{
                     margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
                                        padding: 3px 20px;
                                      }

/* = Icons
-------------------------------------------------------------- */
.icon-md{
  font-size:30px!important;
}
.icon-round{
  margin:0 auto;
  border:2px solid transparent;
  border-radius: 50%;
  padding: 32px 30px 26px 30px;
  min-width:80px;
}
.icon-round,.icon-md,.icon-square.icon-md,.icon-rounded.icon-md{
  min-width: 92px;
}
.icon-round.icon-lg,.icon-square.icon-lg,.icon-rounded.icon-lg{
  min-width: 122px;
}
.icon-round.icon-xl,.icon-square.icon-xl,.icon-rounded.icon-xl{
  min-width: 162px;
}


/* = Text & Icon Styles
-------------------------------------------------------------- */
.sm-shadow{
  text-shadow:0 1px 2px rgba(0,0,0,.3);
}
.lg-shadow{
  text-shadow:0 2px 5px rgba(0,0,0,.5);
}


.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
  border-radius:0;
}
.panel-rd{
  border-radius:30px;
}
.panel-rd .panel-heading{
  border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
  border-radius:0 0 29px 29px;
}


/* = Forms
-------------------------------------------------------------- */

.form-control{
  border-color:rgba(0,0,0,.1);
  box-shadow:none;
}

/* iFrame */

iframe{
  border:0;
}


/* ScrollToTop button */

.scrollToTop{
  width:40px;
  height:40px;
  position:fixed;
  bottom:20px;
  right:20px;
  opacity: 0;
  z-index: 500;
  transition: all .3s ease-in-out;
}
.scrollToTop span{
  margin-top: 6px;
}
.showScrollTop{
  font-size: 14px;
  opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
  font-family:"Open Sans";
  font-weight:600;
}
.container{
  max-width:1170px;
}
.mount-italy-hero-text{
  font-family:"Josefin Sans";
  font-size:60px;
  font-weight:bold;
  text-shadow:0px 3px 8px rgba(0,0,0,0.2);
}
.mount-italy-hero-text-sub{
  font-family:"Josefin Sans";
  font-size:36px;
}
.hero-text-vc{
  margin-top:50%;
}
.blocs-blue-button{
  background-color:#41b6f3;
}
.blocs-blue-button:hover{
  background-color:#39a6de;
}
.blocs-hero-btn-dwn{
  background-color:rgba(0,0,0,0.0);
}
.stat-bloc-text{
  font-size:44px;
  text-align:center;
  font-weight:bold;
}
.stat-bloc-sub-text{
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
}
.statement-bloc-text{
  line-height:38px;
  font-style:italic;
  font-size:28px;
  text-align:center;
  font-weight:lighter;
}
.blocs-mobile-signup-text{
  font-size:33px;
}
.padding-30{
  padding:30px 30px 30px 30px;
  border-radius:20px 20px 20px 20px;
  border-color:rgba(0,0,0,0.9);
  background-color:rgba(0,0,0,0.8);
}
.mount-italy-hero-text-s{
  font-size:60px;
}
.mount-italy-hero-text-sub-s{
  font-size:34px;
}
.mountaindusk-hero-text{
  font-family:"Josefin Sans";
  font-size:60px;
  font-weight:bold;
  text-shadow:0px 3px 3px rgba(0,0,0,0.3);
}
.mountaindusk-hero-text-sub{
  font-family:"Josefin Sans";
  font-size:36px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
  background-color:#ffffff;
}

.bgc-medium-jungle-green{
  background-color:#272931;
}
/* Text colour styles */

.tc-white{
  color:#ffffff!important;
}
/* Button colour styles */

.btn-boston-university-red{
  background:#CE0000;
  color:#FFFFFF!important;
}
.btn-boston-university-red:hover{
  background:#a50000;
  color:#FFFFFF!important;
}
.btn-cinereous{
  background:#997F7F;
  color:#FFFFFF!important;
}
.btn-cinereous:hover{
  background:#7a6666;
  color:#FFFFFF!important;
}
.btn-orange-peel{
  background:#FF9D00;
  color:#FFFFFF!important;
}
.btn-orange-peel:hover{
  background:#cc7e00;
  color:#FFFFFF!important;
}

/* Bloc image backgrounds */

.bg-pexels-photo-115025{
  background-image:url('../img/pexels-photo-115025.jpeg');
}
.bg-wall-animal-dog-pet{
  background-image:url('../img/wall-animal-dog-pet.jpg');
}
.bg-pexels-photo-10517{
  background-image:url('../img/pexels-photo-10517.jpeg');
}



/* = Mobile adjustments
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
  .bloc{
    padding-left: 20px;
    padding-right: 20px;
  }
  .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) and (min-width: 768px)
{
  .navbar .nav{
    max-width:80%
  }
  .nav-center.navbar .nav{
    max-width:100%
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.b-parallax{background-attachment:scroll;}}
@media (max-width: 768px)
{
  .container{width:100%;}
  .b-parallax{background-attachment:scroll;}
  .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
}
@media (max-width: 767px)
{
  .page-container{
    overflow-x: hidden;
    position:relative;
  }
  h1,h2,h3,h4,h5,h6,p,#disqus_thread{
    padding-left:10px!important;
    padding-right:10px!important;
  }
  #hero-bloc h1{
    font-size:40px;
  }
  #hero-bloc h2{
    font-size:34px;
  }
  #hero-bloc h3{
    font-size:25px;
  }
  .bloc{
    padding-left: 0;
    padding-right: 0;
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
  .b-parallax{
    background-attachment:scroll;
  }
  .navbar .nav{
    padding-top: 0;
    border-top:1px solid rgba(0,0,0,.2);
    float:none!important;
  }
  .navbar.row{
    margin-left: 0;
    margin-right: 0;
  }
  .site-navigation{
    position:inherit;
    transform:none;
    -webkit-transform:none;
    -ms-transform:none;
  }
  .nav > li{
    margin-top: 0;
    border-bottom:1px solid rgba(0,0,0,.1);
    background:rgba(0,0,0,.05);
    text-align: left;
    padding-left:15px;
    width:100%;
  }
  .nav > li:hover{
    background:rgba(0,0,0,.08);
  }
  .dropdown .dropdown a .caret{
    float: none;
    margin: 5px 0 0 10px!important;
    border: 4px solid black;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
  }

  #hero-bloc .navbar .nav{
    background:rgba(0,0,0,.8);
  }
  #hero-bloc .navbar .nav a{
    color:rgba(255,255,255,.6);
  }
  .hero{
    padding:50px 0;
  }
  .hero-nav{
    left:-1px;
    right:-1px;
  }
  .navbar-collapse{
    padding:0;
    overflow-x: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-brand img{
    max-height: 40px;
    width:auto;
  }
  .nav-invert .navbar-header{
    float: none;
    width:100%;
  }
  .nav-invert .navbar-toggle{
    float:left;
  }
  .bloc-group .bloc{
    display:block;
    width:100%;
  }
  .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .bloc-xxl,.bloc-xl,.bloc-lg{
    padding: 40px 0;
  }
  .bloc-sm,.bloc-md{
    padding-left: 0;
    padding-right: 0;
  }
  .a-block{
    padding:0 10px;
  }
  .btn-dwn{
    display:none;
  }
  .voffset{
    margin-top:5px;
  }
  .voffset-md{
    margin-top:20px;
  }
  .voffset-lg{
    margin-top:30px;
  }
  form{
    padding:5px;
  }
  .close-lightbox{
    display:inline-block;
  }
  .video-bg-container{
    display:none;
  }
  .blocsapp-device-iphone5{
    background-size: 216px 425px;
    padding-top:60px;
    width:216px;
    height:425px;
  }
  .blocsapp-device-iphone5 img{
    width: 180px;
    height: 320px;
  }
}

@media (max-width: 768px){
  .hero-text-vc, .mobile .hero-text-vc{
    margin-top:10%;
  }
}
/* Drop Down Navigation */
@media (min-width: 767px) and (max-width: 768px){

  .mini-nav .special-dropdown-nav .site-navigation{
    display: block;
    position: absolute;
    top: 80%;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  .mini-nav .special-dropdown-nav .site-navigation li{
    width:100%;
  }
  .special-dropdown-nav.collapsing{
    transition: height 0.001s;
  }
  .mini-nav .special-dropdown-nav .site-navigation li a{
    color: rgba(0,0,0,.6);
  }
}
@media (max-width: 420px){
  .hero-text-vc{
    margin-top:0px;
  }
  .blocs-mobile-signup-text{
    text-align:center;
  }
  .bloc-mob-center-text{
    text-align:center;
  }
}

