<template>
    <div class="dynamic-popover">
        <el-popover
                ref="dynamic"
                placement="top"
                width="300"
                trigger="click">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-navy">
                    <div class="widget-user-image">
                        <img class="img-circle" :src="pet.avatar" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{pet.name}}</h3>
                    <h5 class="widget-user-desc">{{pet.breed.breedname}}</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Age: <span class="pull-right badge bg-blue">{{pet.birthday | age}}</span></a></li>
                        <li><a href="#">Gender: <span class="pull-right badge bg-aqua"><i :class="'ion-' + pet.gender"></i></span></a></li>
                        <li><a href="#">Social: <el-progress :show-text="false" :percentage="pet.social * 20"></el-progress></a></li>
                        <li class="icons-block"><a href="#">
                            <span v-if="pet.healthy == 'yes'">
                                <i class="fa-lg dogstel-healthy"></i> Healthy
                            </span>
                            <span v-if="pet.vaccinated == 'yes'">
                                <i class="fa-lg dogstel-vaccinated"></i> Vaccinated
                            </span>
                            <span v-if="pet.sterilised == 'yes'">
                                <i class="fa-lg dogstel-sterilised"></i> Sterilised
                            </span>
                            <span v-if="pet.healthy == 'no'">
                                <i class="fa-lg dogstel-healthy"></i> Not Healthy
                            </span>
                            <span v-if="pet.vaccinated == 'no'">
                                <i class="fa-lg dogstel-vaccinated"></i> Not Vaccinated
                            </span>
                            <span v-if="pet.sterilised == 'no'">
                                <i class="fa-lg dogstel-sterilised"></i> Not Sterilised
                            </span>
                        </a></li>
                        <li v-if="pet.healthy_description"><a>{{pet.healthy_description}}</a></li>
                    </ul>
                </div>
            </div>
        </el-popover>
        <span class="small-pet-image" v-popover:dynamic>
            <img class="img-circle" :src="pet.avatar" alt="Attachment Image" >
            {{pet.name}}
        </span>
    </div>
</template>
<script>
    import moment from 'moment'
  export default {
    name: 'dynamic',
    props: {
      pet: {
        type: Object,
        required: true
      }
    },
    mounted() {
      console.log(this.pet)
    },
    filters: {
      age(value) {
        return moment(value).fromNow(true);
      },
    }
  }
</script>
<style>
    .icons-block span {
        margin-right: 5px;
    }
    .larger-image {
        width: 100px;
    }
    .small-pet-image {
        cursor: pointer;
        display: block;
        float: right;
        font-size: 1.1em;
        margin-right: 5px;
        line-height: 40px;
        background-color: #81b5d4;
        color: white;
        border-radius: 20px;
        padding-right: 20px;
        transition: .4s all;

    }
    .small-pet-image:hover {
        transition: .4s background;
        background-color: #507188;
    }
    .small-pet-image:hover img {
        transition: .4s opacity;
        opacity: 0.8;
    }

    .small-pet-image img {
        padding: 2px;
        margin-right: 5px;
    }

</style>