<template>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="200px">
            <el-form-item label="Ime" prop="name">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="Slika" prop="imageUrl">
                <el-upload
                        ref="upload"
                        class="avatar-uploader"
                        action="/api/[et"
                        :show-file-list="false"
                        :auto-upload="false"
                        :on-change="onImageChange"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="form.imageUrl" :src="form.imageUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>

            <el-form-item label="Tip ljubimca" prop="animal_type_id">
                <el-select v-model="form.animal_type_id" placeholder="Odaberi tip životinje"
                           @change="updateBreeds(form.animal_type)">
                    <el-option
                            v-for="item in animal_types"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Rasa" prop="breed_id">
                <el-select v-model="form.breed_id" filterable placeholder="Odaberi rasu">
                    <el-option
                            v-for="item in breeds"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Pol" prop="gender">
                <el-radio-group v-model="form.gender">
                    <el-radio label="female">Ženski</el-radio>
                    <el-radio label="male">Muški</el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item label="Datum rođenja" prop="birthday">
                <el-date-picker
                        v-model="form.birthday"
                        type="year"
                        format="DD. MMMM yyyy."
                        :picker-options="{firstDayOfWeek: 1}"
                        placeholder="Odaberi godinu">
                </el-date-picker>
            </el-form-item>

            <el-form-item label="Koliko je druželjubiv?" prop="social">
                <el-slider
                        v-model="form.social"
                        :step="1"
                        :min="1"
                        :max="5"
                        :show-stops="true"
                        :format-tooltip="labelsSlider"
                        show-input
                >
                </el-slider>

            </el-form-item>

            <el-form-item label="Da li je sterilisan?" prop="strilised">
                <el-switch
                        v-model="form.sterilised"

                        on-text="DA"
                        off-text="NE"
                        on-value="yes"
                        off-value="no">
                </el-switch>
            </el-form-item>

            <el-form-item label="Da li je vakcinisan?" prop="vaccinated">
                <el-switch
                        v-model="form.vaccinated"

                        on-text="DA"
                        off-text="NE"
                        on-value="yes"
                        off-value="no">
                </el-switch>
            </el-form-item>

            <el-form-item label="Da li je zdrav?" prop="healthy">
                <el-switch
                        v-model="form.healthy"

                        on-text="DA"
                        off-text="NE"
                        on-value="yes"
                        off-value="no">
                </el-switch>
            </el-form-item>
            <el-form-item label="Ukoliko nije zdrav, objasnite..." prop="healthy_description"
                          v-if="form.healthy == 'no'">
                <el-input
                        type="textarea"
                        :rows="2"
                        placeholder="Please input"
                        v-model="form.healthy_description">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('form')">Snimi</el-button>
                <el-button @click="resetForm('form')">Reset</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
  export default {
    props: ['animalTypes', 'dogs', 'cats', 'other'],
    data() {
      return {
        animal_types: {},
        breeds: {},
        file: '',
        form: {
          name: '',
          imageUrl: "",

          animal_type_id: 1,
          breed_id: 1,
          gender: '',
          birthday: '',
          social: 3,
          sterilised: 'no',
          vaccinated: 'no',
          healthy: "yes",
          healthy_desc: ''
        },
        rules: {
          name: [
            {required: true, message: 'Molimo unesite ime', trigger: 'blur'},
            {min: 2, message: 'Minimum 2 karaktera', trigger: 'blur'}
          ],
          animal_type: [
            {required: true, message: 'Molimo odaberite tip ljubimca', type: 'integer', trigger: 'change'}
          ],
          breed: [
            {required: true, message: 'Molimo odaberite rasu', type: 'integer', trigger: 'change'}
          ],
          gender: [
            {required: true, message: 'Molimo odaberite pol', trigger: 'change'}
          ],
          birthday: [
            {required: true, message: 'Molimo odaberite datum rođenja', type: 'date', trigger: 'change'}
          ],
          healthy_description: [
            {required: true, message: 'Molimo unseite više informacija', trigger: 'blur'}
          ]
        }
      }
    },
    mounted() {
      this.animal_types = JSON.parse(this.animalTypes);
      this.breeds = JSON.parse(this.dogs);
    },

    methods: {
      updateBreeds(value){
        this.form.breed = "";
        switch (value) {
          case 1:
            this.breeds = JSON.parse(this.dogs);
            break;
          case 2:
            this.breeds = JSON.parse(this.cats);
            break;
          case 7:
            this.breeds = JSON.parse(this.other);
            break;
        }
      },
      labelsSlider(value) {
        switch (value) {
          case 1:
            return "Nimalo"
            break;
          case 2:
            return "Malo"
            break;
          case 3:
            return "Osrednje"
            break;
          case 4:
            return "Dosta"
            break;
          case 5:
            return "Jako puno"
            break;
        }
      },
      onImageChange(file, fileList){
        this.form.imageUrl = file.url
        this.file = file
      },
      handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
      },

      beforeAvatarUpload(file) {

        const isJPG = file.type === 'image/jpeg';
        const isPNG = file.type === 'image/png';
        const isGIF = file.type === 'image/gif';
        const isLt2M = file.size / 1024 / 1024 < 20;

        if (!(isJPG || isPNG || isGIF)) {
          this.$message.error('Morate uploadovati sliku!');
        }
        if (!isLt2M) {
          this.$message.error('Veličina slike ne može biti preko 20MB!');
        }

        return (isJPG || isPNG || isGIF) && isLt2M;
      },

      submitForm(formName) {
        console.log(this.$refs.upload.$children[0])
        this.$refs[formName].validate((valid) => {
          if (valid) {
            var data = new FormData();
            data.append('image', this.file.raw);
            for(var property in this.form) {
              data.append(property, this.form[property]);

            }
            axios.post('/api/pet', data, {
              headers: {"Content-Type": "multipart/form-data"}
            })
                .then(response => {
                  Events.$emit('pet-profile-entered')
                  this.$refs.form.resetFields()
                })

          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }

    }
  }
</script>
<style>
    .el-form-item__label {
        padding-top: 10px;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #20a0ff;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

    .el-upload__input {
        display: none !important;
    }

    .el-select {
        display: block;
    }
</style>